.wrap {
    height: 100%;
    width: 100%;
}

.main {
    width: 1170px;
    margin: 0 auto;
    /* height: 100px; */
    background: #fff;
}

.head_con {
    height: 100px;
}

.head img {
    float: left;
    margin-top: 22px;
}

.head ul li {
    margin-left: 38px;
    margin-top: 40px;
    float: left;
}

.head a {
    font-size: 16px;
}

.sign_up {
    height: 38px;
    background: #fdf8e4;
    border-top: solid 1px #ffe7b9;
    border-bottom: solid 1px #ffe7b9;
    margin: 15px 0;
}

.sign_up p {
    line-height: 38px;
    color: #b25b30;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
}

.main_down {
    /* min-height: 600px; */
    width: 1170px;
}

.nav_left {
    width: 280px;
    float: left;
}

.nav_right {
    width: 890px;
    float: left;
    min-height: 1000px;
    background-color: chartreuse;
}

.nav_right form {
    position: relative;
}

#search {
    height: 58px;
    width: 887px;
    /* border: 1px solid red; */
    border: none;
    outline: none;
    font-style: italic;
    font-size: 19px;
    color: #d7d7d7;
    /* font-weight: bold; */
}

#btn {
    border: none;
    position: absolute;
    width: 104px;
    height: 44px;
    right: 7px;
    bottom: 10px;
    background-color: #5ecfc9;
    color: #fff;
    font-size: 25px;
}

.nav_left a {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    width: 129px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    border-right: 1px solid #e3e3e3;
    background-color: greenyellow;
}

.nav_left_head {
    width: 264px;
    height: 45px;
    /* background-color: aquamarine; */
}