<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div class="box">
        <div v-if="score>=90">优秀</div>
        <div v-else-if="score>=80">良好</div>
        <div v-else-if="score>=60">及格</div>
        <div v-else="score">玩去吧</div>
        <input type="text" v-model="score">
        <div v-show="flag">测试v-show</div>
    </div>
    <div class="box1">
        <div>水果列表</div>
        <input type="text" v-model="score">
        <ul>
            <li v-for="item in friut">{{item}}</li>
        </ul>
        <ol>
            <li v-for="(item,index) in friut">{{item+"------"+index}}</li>
        </ol>
        <ul>
            <li :key="index" v-for="(item,index) in friut">{{item+index}}</li>
            <!-- key可以提高性能 -->
        </ul>
        <p>卧槽</p>
        <ul>
            <li v-if="score>30" v-for="(value,key,index) in obj">{{value+"----"+key+"------"+index}}</li>
        </ul>
    </div>
</body>
<script>
    var app = new Vue({
        el: ".box",
        data: {
            score: 30,
            flag: false
        },
        methods: {}
    });
    // v-if  v-else v-else-if渲染页面上只有一个div
    // v-show=“false”时候，为display:none,v-if 则是是否渲染到页面


    //v-for的用法
    // 通过key来区分li
    var app1 = new Vue({
        el: ".box1",
        data: {
            score: 20,
            friut: ["橘子", "南瓜", "苹果", "菠萝", "火龙果", "香蕉"],
            obj: {
                na: "杨硕",
                age: 26,
                area: "湖北"
            }
        }
    });
    //v-for遍历对象
</script>

</html>