        .toolbar {
            width: 1262px;
            margin: 0 auto;
            /* background-color: chartreuse; */
        }
        
        .head {
            float: left;
            height: 102px;
            width: 1262px;
            background-color: #fff;
            overflow: hidden;
        }
        
        .head_left {
            padding-left: 10px;
            margin-top: 16px;
            height: 86px;
            float: left;
        }
        
        .head_right {
            float: right;
        }
        
        .head_right li {
            width: 96px;
            height: 102px;
            border-left: 1px solid #d6e4ed;
            float: left;
            text-align: center;
        }
        
        .head_right img {
            margin-top: 22px;
            background-color: coral;
        }
        
        .head_right p {
            font-size: 13px;
            margin-top: 25px;
            color: #3ea3da;
        }
        
        .banner {
            float: left;
            width: 1262px;
            height: 384px;
        }
        
        .nav {
            height: 242px;
            width: 1262px;
            float: left;
        }
        
        .nav p {
            width: 1262px;
            text-align: center;
            height: 12px;
            font-size: 12px;
        }
        
        .nav ul {
            float: left;
            width: 1170px;
            margin: 42px 52px;
            height: 146px;
            /* background-color: chartreuse; */
        }
        
        .nav li {
            float: left;
            overflow: hidden;
            margin-right: 10px;
        }
        
        .news {
            float: left;
            width: 1262px;
            height: 390px;
        }
        
        .news h3 {
            height: 24px;
            line-height: 24px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            color: #3e667d;
        }
        
        .news p {
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 20px;
            color: #666666;
        }
        
        .news>ul {
            float: left;
            margin-top: 36px;
        }
        
        .news li {
            position: relative;
            float: left;
            margin-right: 10px;
            /* opacity: 0.5; */
        }
        
        .news li>p {
            position: absolute;
            bottom: 5px;
            left: 20px;
            z-index: -1;
        }
        
        .press p {
            float: left;
            width: 1262px;
            margin-top: 34px;
            text-align: center;
            margin-left: 44px;
        }
        
        .make_page {
            width: 1262px;
            height: 296px;
            float: left;
        }
        
        .make_page ol {
            width: 1114px;
            height: 296px;
            margin: 0 auto;
        }
        
        .make_page ol>li {
            float: left;
            width: 254px;
            margin-right: 30px;
        }
        
        .make_page p {
            color: #3e89c6;
            margin: 0 auto;
            width: 100px;
            text-align: center;
            height: 36px;
            font-size: 14px;
            line-height: 36px;
            border: 1px solid #76a8c4;
        }
        
        .make_page ul {
            margin-top: 30px;
        }
        
        .make_page ul>li {
            width: 256px;
            float: left;
            height: 30px;
            font: 13px;
            line-height: 30px;
        }
        
        .make_page a {
            color: #6689bc;
            float: left;
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        .make_page span {
            float: right;
        }
        
        .solution {
            float: left;
            width: 1262px;
            height: 694px;
            background-color: chartreuse;
            background: url(image/solu_bg.jpg) no-repeat 0 142px;
        }
        
        .solution>h3 {
            width: 170px;
            height: 30px;
            /* background-color: wheat; */
            margin: 0 auto;
            text-align: center;
        }
        
        .solution>p {
            width: 170px;
            height: 30px;
            /* background-color: wheat; */
            margin: 0 auto;
            text-align: center;
        }
        
        .solution ul {
            width: 1144px;
            height: 294px;
            margin: 38px auto;
        }
        
        .solution ul>li {
            float: left;
            width: 360px;
            height: 294px;
            margin-right: 32px;
            background-color: #fff;
        }
        
        .solution ul span {
            display: block;
            width: 360px;
            height: 87px;
            background-color: #c7c7c7;
            text-align: center;
            padding-top: 25px;
        }
        
        .solution h4 {
            margin: 20px auto;
            width: 318px;
            height: 42px;
            line-height: 42px;
            text-align: center;
            border: 1px solid #76a8c4;
        }
        
        .solution ul p {
            margin: 20px auto;
            width: 310px;
            height: 34px;
        }
        
        .solution ol {
            margin: 142px auto;
            width: 1146px;
            height: 80px;
        }
        
        .solution ol li {
            width: 166px;
            float: left;
            margin-right: 30px;
            border-bottom: 6px solid #fff;
        }
        
        .solution h5 {
            font-size: 44px;
            color: #fff;
        }
        
        .solution ol p {
            font-size: 16px;
            color: #fff;
        }
        
        .success_case {
            float: left;
            width: 1262px;
            height: 830px;
        }
        
        .success_case>h3 {
            width: 170px;
            height: 30px;
            background-color: wheat;
            margin: 80px auto 0px;
            text-align: center;
        }
        
        .success_case>p {
            width: 170px;
            height: 30px;
            background-color: wheat;
            margin: 0 auto;
            text-align: center;
        }
        
        .success_case ul {
            margin: 40px auto;
            width: 1154px;
            height: 580px;
        }
        
        .success_case li {
            float: left;
            width: 240px;
            height: 240px;
            border-radius: 50%;
            overflow: hidden;
            border: 13px solid #bad3e1;
            margin-right: 30px;
            margin-top: 48px;
        }
        
        .about_content {
            float: left;
            background-color: chartreuse;
            width: 1262px;
            height: 520px;
            background: url(image/solu_bg.jpg) no-repeat;
        }
        
        .about_content li {
            float: left;
            margin-right: 100px;
            /* background-color: blue; */
        }
        
        .ul_common {
            margin: 30px auto 0;
            width: 1070px;
            height: 300px;
            /* background-color: crimson; */
        }
        
        .about_content>h3 {
            width: 170px;
            height: 30px;
            background-color: wheat;
            margin: 70px auto 0px;
            text-align: center;
        }
        
        .about_content>p {
            width: 170px;
            height: 30px;
            background-color: wheat;
            margin: 0 auto;
            text-align: center;
        }
        
        .server {
            float: left;
            width: 1262px;
            height: 550px;
            /* background-color: cadetblue; */
        }
        
        .server li {
            float: left;
            /* margin-right: 30px; */
            width: 250px;
            height: 90px;
            /* background-color: blue; */
            text-align: center;
            margin-top: 30px;
        }
        
        .ul_common_1 {
            margin: 30px auto 0;
            width: 1100px;
            height: 300px;
            /* background-color: crimson; */
        }
        
        .footer {
            color: white;
            float: left;
            width: 1262px;
            height: 514px;
            background-color: #282828;
        }
        
        .footer ulul:first-child>li {
            margin-right: 30px;
            width: 450px;
            height: 240px;
            float: left;
            background-color: coral;
        }
        
        .footer ul:first-child {
            margin-left: 55px;
            float: left;
        }
        
        .footer_footer ul:nth-of-type(2) {
            float: left;
            margin-left: 60px;
            border-top: 1px solid #999999;
            width: 1140px;
            height: 124px;
            /* background-color: darkgray; */
        }
        
        .footer_footer ul:nth-of-type(2) li {
            float: left;
            color: red;
            /* background-color: darkblue; */
        }
        
        .ul_common li img {
            transition: all 2s linear;
        }
        
        .ul_common li img:hover {
            transform: rotate(360deg);
        }